<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <button ng-click="main.scrollTo('hey-there-text')">Scroll to the Hey, You Made It Section</button>
  <button ng-click="main.scrollTo('works-nicely-text')">Scroll to the Works Nicely Section</button>

  <br>
  <br>
  <span class="center-main-text">

  <h1><i>Go Ahead, Click The Buttons!</i></h1>
  </span>

  <div class="empty-space"></div>

  <div id="scrollRoute1" class="text-center">
    <h1>Hey There!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        This started from the Gulp-Angular generator (Jim's all-time favorite Angular 1 generator)!
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
    </p>
  </div>

  <div class="empty-space"></div>

  <div id="scrollRoute2" class="text-center">
    <h1>Holla!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure chillin' in your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Day Today, Jimmy!</button>
    </p>
    <p>
      Jim is very
      <acme-malarkey extra-values="['Cool', 'Interesting', 'Funny', 'Intelligent', 'Dorky']"></acme-malarkey>
    </p>
  </div>


<br>

  <div class="center-main-text" >
    <h1 id="hey-there-text">Hey, You Finally Made It Here! :)</h1>
  </div>

  <br>


  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="center-main-text" >
    <h1 id="works-nicely-text">Works Pretty Nicely, Eh?</h1>
  <div class="empty-space"></div>

  <div class="empty-space"></div>

  <div class="empty-space"></div>

  <p>Yeah buddy!</p>

  </div>
</div>
